<div class="infinite-scroll">

<div class=" list-row">

      <!-- Tasks Container -->
      <div class="tasks-list-container compact-list margin-top-35">

    {% for item in listings %}

        <!-- Task -->
        <a href="{{route('listing', {'id' : item, 'slug' : str_slug(item.title)})}}" class="task-listing">
          {% if item.spotlight %}
          <div class="ribbon"><span>{{ __("FEATURED") }}</span></div>
          {%  endif %}

          <!-- Job Listing Details -->
          <div class="task-listing-details p-3">

            <!-- Logo -->
            <div class="task-listing-company-logo">
                <img class=" img-thumbnail p-0" ssrc="/images/ajax-loader.gif" src="{{ item.thumbnail }}?w=300&h=255" alt="{{item.title}}">
            </div>

            <!-- Details -->
            <div class="task-listing-description">
              <h3 class="task-listing-title">{{ str_limit(item.title, 80) }}</h3>
              <ul class="task-icons">
                  <li><i class="icon-line-awesome-user"></i> {{ item.user.display_name }}</li>
                  <li><i class="icon-material-outline-access-time"></i> {{item.created_at.diffForHumans()}}</li>
                  <li><i class="icon-material-outline-location-on"></i> {{ item.short_address }} {% if request('sort') == 'distance' %}({{ item.human_distance }}){% endif %}</li>
              </ul>
              <p class="task-listing-text">{{ str_limit(item.description, 150) | raw}}</p>
              <div class="task-tags margin-top-15">
                  {% for tag in item.tags %}
                  <span>{{tag}}</span>
                  {% endfor %}
              </div>
            </div>

          </div>

          <div class="task-listing-bid">
            <div class="task-listing-bid-inner">
              <div class="task-offers">
                <strong>{{ item.price_formatted }}</strong>
                <span>{{ item.price_per_unit_display }}</span>
              </div>
              <span class="button button-sliding-icon ripple-effect">View Now <i class="icon-material-outline-arrow-right-alt"></i></span>
            </div>
          </div>
        </a>


    {% endfor %}

      </div>
      <!-- Tasks Container / End -->

</div>
    {{ listings.appends(request().query()).links() | raw }}

</div>

