{% for category in categories %}

    {# List parent cateogries that have listings. List children of parent that have listings #}
    {% if category.listings | length %}

        <li><a href="{{ route(setting('marketplace_index'), {'category' : category}) }}">{{ _l(category.name) }}</a>

            {% for child_category in category.categories %}

                {% if child_categories.listings | length %}

                  <ul class="dropdown-nav">
                    <li><a href="{{ route(setting('marketplace_index'), {'category' : child_category.id}) }}">{{ _l(child_category.name) }}</a></li>
                  </ul>

                {% endif %}

            {% endfor %}

        </li>

    {% endif %}

    {# List parent categories that have no listings, but have children with listings #}
    {% for child_category in category.categories %}

        {% if child_category.listings | length %}

            <li><a href="{{ route(setting('marketplace_index'), {'category' : category}) }}">{{ _l(category.name) }}</a>
                <ul class="dropdown-nav">
                    <li><a href="{{ route(setting('marketplace_index'), {'category' : child_category.id}) }}">{{ _l(child_category.name) }}</a></li>
                </ul>
            </li>

        {% endif %}

    {% endfor %}

{% endfor %}

{# list all parent and children categories #}
{# <li><a href="{{ route(setting('marketplace_index'), {'category' : category}) }}">{{ _l(category.name) }}</a>
    {% if category.categories | length %}
      <ul class="{% if category.categories | length %}dropdown-nav{% endif %}">
        {% for child_category in category.categories %}
        <li><a href="{{ route(setting('marketplace_index'), {'category' : child_category.id}) }}">{{ _l(child_category.name) }}</a></li>
        {% endfor %}
      </ul>
    {% endif %}
</li> #}