<!-- Recent Listings -->
<div class="section gray margin-top-45 padding-top-65 padding-bottom-75">
    <div class="container">
        <div class="row">
            <div class="col-xl-12">
                
                <!-- Section Headline -->
                <div class="section-headline margin-top-0 margin-bottom-35">
                    <h3>Recent Listings</h3>
                    <a href="{{route(setting('marketplace_index'))}}" class="headline-link">Browse All Listings</a>
                </div>
                
                <!-- Jobs Container -->
                <div class="tasks-list-container compact-list margin-top-35">

                    {% for item in items %}    
                    <!-- Task -->
                    <a href="{{item.url}}" class="task-listing">

                        <!-- Job Listing Details -->
                        <div class="task-listing-details">

                            <!-- Logo -->
                            <div class="task-listing-company-logo">
                                <img src="{{ item.thumbnail }}" alt="">
                            </div>

                            <!-- Details -->
                            <div class="task-listing-description">
                                <h3 class="task-listing-title">{{item.title}}</h3>
                                <ul class="task-icons">
                                    <li><i class="icon-material-outline-location-on"></i> {{item.short_address }}</li>
                                    <li><i class="icon-material-outline-filter-none"></i> {{ item.category.name }}</li>
                                    <li><i class="icon-material-outline-access-time"></i> {{item.created_at.diffForHumans()}}</li>
                                </ul>
                                <div class="task-tags margin-top-15">
                                    {% for tag in item.tags %}
                                    <span>{{tag}}</span>
                                    {% endfor %}
                                </div>
                            </div>

                        </div>

                        <div class="task-listing-bid">
                            <div class="task-listing-bid-inner">
                                <div class="task-offers">
                                    <strong>{{item.price_formatted }}</strong>
                                    <span>{{ item.price_per_unit_display }}</span>
                                </div>
                                <span class="button button-sliding-icon ripple-effect">View Now <i class="icon-material-outline-arrow-right-alt"></i></span>
                            </div>
                        </div>
                    </a>
                    {% endfor %}

                </div>
                <!-- Jobs Container / End -->

            </div>
        </div>
    </div>
</div>
<!-- Featured Jobs / End -->